$min-mobile-m: "width >= 375px";
$min-mobile-l: "width >= 425px";
$min-tablet: "width >= 768px";
$min-laptop: "width >= 1024px";
$min-desktop: "width >= 1440px";

$max-mobile-m: "width <= 375px";
$max-mobile-l: "width <= 425px";
$max-tablet: "width <= 768px";
$max-laptop: "width <= 1024px";
$max-desktop: "width <= 1440px";
