<svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.37152 4.40225C2.65882 4.95666 1.63163 4.82835 1.07722 4.11566C0.522806 3.40296 0.651116 2.37577 1.36381 1.82136C2.0765 1.26695 3.10369 1.39526 3.6581 2.10795C4.21252 2.82064 4.08421 3.84783 3.37152 4.40225Z" fill="#151515"/>
<path d="M20.9133 3.87515C20.2006 4.42956 19.1734 4.30125 18.619 3.58856C18.0646 2.87586 18.1929 1.84867 18.9056 1.29426C19.6182 0.739847 20.6454 0.868157 21.1999 1.58085C21.7543 2.29354 21.626 3.32073 20.9133 3.87515Z" fill="#151515"/>
<path d="M20.6456 2.28056C20.5871 4.74478 19.5293 7.16788 17.7049 9.0168C15.8806 10.8657 13.4392 11.989 10.9178 12.1396C8.39635 12.2901 6.00147 11.4556 4.25997 9.81961C2.51847 8.18361 1.57301 5.88012 1.63157 3.4159L2.89341 3.34056C2.84261 5.47771 3.66259 7.47546 5.17295 8.89432C6.6833 10.3132 8.76032 11.0369 10.9471 10.9064C13.1338 10.7758 15.2512 9.80159 16.8334 8.19807C18.4156 6.59454 19.333 4.49305 19.3838 2.3559L20.6456 2.28056Z" fill="white"/>
</svg>
