<svg width="311" height="298" viewBox="0 0 311 298" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M189.828 96.4142L175.691 4.25415L147.032 100.949L40.9924 63.1573L113.162 137.959L6.60132 203.639L129.575 180.182V292.254L184.028 180.182L301.791 225.532L210.707 137.959L288.764 74.6252L189.828 96.4142Z" stroke="white" stroke-width="23.9667"/>
</svg>
